*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    margin-bottom: 20px;
    font-size: 23px;
}
.highlight{
    background-color: yellow;
    font-weight: bold !important;
    font-style: italic;
    font-variant: small-caps;
    
}
a:link{
    color:green;
   
}
a:hover,a:focus{
    color: fuchsia;
}
main p:first-child{
    font-weight:bold;
}
main p:first-child::first-letter{
    font-size: 150%;
}